@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16vw;
    font-family: sans-serif;
  }

  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .spinner__text {
    font-weight: bold;
    margin: auto;
    animation: spinner 0.5s linear infinite;
    background: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    color: #111;
  }